*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    background-color: #eee;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
:root{
    --primary-color : #9680d2;
}
h1{
    background-color: white;
    margin: 0;
    padding: 10px 20px;
    text-align: center;
}
.the-game{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}
.guess-game{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.guess-game .buttons{
    margin-top: 20px;
}
.guess-game button{
    background-color: white;
    cursor: pointer;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    margin: 5px;
    background-color: rgb(25, 76, 121);
    color: white;
    text-transform: capitalize;
}
.rows{
    padding: 0px;
    height: 80%;
}
.rows .row{
    margin: 5px 0;
    padding: 10px;
    display: flex;
    align-items: center;
} 
.rows .row span{
    margin-right: 20px;
} 
.rows .row input{
    width: 35px;
    height: 35px;
    border: none;
    border-bottom: solid black 2px;
    margin: 0 10px;
    text-transform: capitalize;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
} 
.rows .row input.founded{
    background-color: rgb(229, 235, 139);
    border-bottom: none;
    color: white;

} 
.rows .row input.in-place{
    background-color: rgb(139, 235, 139);
    border-bottom: none;
    color: white;
} 
.rows .row input.no{
    background-color: rgb(125, 125, 125);
    border-bottom: none;
    color: white;
} 
.rows .row.disable .input{
    pointer-events: none;  /* Prevent interaction */
    opacity: 0.3;
} 
.rows .row.disable span{
    opacity: 0.3;
} 

.rows .row .input:focus{
    outline: solid var(--primary-color);
    caret-color: transparent;
    border-bottom: none;
} 


.keys .key{
    background-color: white;
    margin-bottom: 10px;
    padding: 5px 5px 5px 25px;
    position: relative;
    display: flex;
    align-items: center;
    font-size: 16px;
}
.keys .key::before{
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: rgb(139, 235, 139);
    border-radius: 50%;
    left: 5px;
}
.keys .key.not-in-place::before{
    background-color: rgb(229, 235, 139);
}
.keys .key.no::before{
    background-color: rgb(125, 125, 125);
}
.the-result{
    text-align: center;
    margin: 20PX 0;
    text-transform: capitalize;
    font-size: 30px;
}
@media screen and (max-width:750px) {
    .the-game{
        display: flex;
        flex-direction: column-reverse;
    }
}